body{
  font-family: "Montserrat";
}

#title{
  background-color: #34495E;
  color: #fff;
}

.container-fluid{
  padding: 3% 7% 0;
  bottom: 40%;
}

h1{
  font-family: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
}

h2{
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: Cambria;
}

p{
  color: #8f8f8f;
}

.navbar{
  padding :0 0 4.5rem;
}

.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}

.btn{
  margin:5% 3% 5% 0;
}


.social-icon{
  color: #fff;
  margin: 20px 10px;
}

.social-icon:hover{
  color: #D0D3D4;
}


footer{
  position: relative;
  background-color: #34495E;
  bottom: 0;
  width: 100%;
  height: 180px;
  padding: 20px 20px 0px 20px;
  text-align: center;
}

@media(max-width:991px)
{
  #title{
    text-align: center;
  }


}

.login{
  padding: 7.2% 34.5%;
}

.card{

}

.card:hover{

}

.button{
  padding-left:350px;
}
