body{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-family:'Gabriola', serif;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    font-family:'Cambria', serif;
    font-size: 1.5em;
    position: relative;
}

input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
}

p {
    font-family:'Gabriola', serif;
}

/* Quiz Classes */
 .quizContainer {
    background-color: white;
    border-radius: 6px;
    width: 75%;
    margin: auto;
    padding-top: 5px;
}

.quizcontainer #quiz1
{
text-shadow:1px 1px 2px orange;
font-family:"Georgia", Arial, sans-serif;
}

.clearResponse{
    box-shadow: 3px 3px 3px #888;
    border-radius: 6px;
    height: 40px;
    text-align: center;
    background-color: lightgrey;
    color: red;
    font-family:'Gabriola', serif;
    position: relative;
    margin: auto;
    font-size:25px;
    font-weight:bold;
    padding-top: 5px;
    float:right;
    right:15%;
    left:  0%;

    transition-duration: 0.1s;
}
.clearResponse:hover{
    box-shadow: 5px 5px 5px #888;
}

.nextButton {
    box-shadow: 3px 3px 3px #888;
    border-radius: 6px;
    height: 40px;
    text-align: center;
    background-color: lightgrey;
    color: red;
    font-family:'Gabriola', serif;
    position: relative;
    margin: auto;
    font-size:25px;
    font-weight:bold;
    padding-top: 5px;
    position: relative;
    left: 20%;
    right:30%;
    transition-duration: 0.1s;

}

.nextButton:hover{
    box-shadow: 5px 5px 5px #888;

}

.preButton {
    box-shadow: 3px 3px 3px #888;
    border-radius: 6px;
    height: 40px;
    text-align: center;
    background-color: lightgrey;
    color: red;
    font-family:'Gabriola', serif;
    position: relative;
    margin: auto;
    font-size:25px;
    font-weight:bold;
    position: relative;
    padding-top: 5px;
    left:10%;
    transition: 0.1s;

}

.preButton:hover{
    box-shadow: 5px 5px 5px #888;
}

.question {
    font-family:'Century', serif;
    font-size: 1.5em;
    font-weight:bold;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color: #34495E;
    color: #fff;
    text-align: center;
}

.quizMessage {
    background-color: peachpuff;
    border-radius: 6px;
    width: 20%;
    margin: auto;
    text-align: center;
    padding: 5px;
    font-size:20px;
    font-weight:bold;
    font-family:'Gabriola', serif;
    color: red;
    position:relative;
    top: -10px;
    left: -50px;
}

.choiceList {
    font-family: 'Arial', serif;
    color: black;
    font-size: 14px;
}

.result {

    width: 40%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
    color:green;
    text-align: center;
    font-size:25px;
    font-family:'Verdana', serif;
    font-weight:bold;
    position:relative;
    top: -10px;
    left: 0pc;
}

/* End of Quiz Classes */

#title{
  background-color: #34495E;
  color: #fff;
}

.container-fluid{
  padding: 3% 7% 0;
  bottom: 40%;
}

h1{
  font-family: "Montserrat-Black";
  line-height: 1.5;
}

.navbar{
  padding :0 0 4.5rem;
}

.navbar-brand{
  font-family: Ubuntu;
  font-weight: bold
}

.nav-item{
  padding: 0 18px 0 58vw;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}

@media(max-width:991px)
{
  #title{
    text-align: center;
  }


}
.card{

}
